@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
body {
  background-color: #fafafa;
  background-image: linear-gradient(#121212 220px, #fafafa 220px);
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
.navlink {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.navlink a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin: 0px 10px;
  color: #b4b4b4;
  font-weight: 500;
}
.logo {
  text-align: center;
  margin: 20px auto 40px auto;
}
.logo img {
  max-width: 192px;
  height: auto;
}
form {
  background-color: #ffffff;
  max-width: 650px;
  border-radius: 12px;
  box-shadow: 0px 6px 6px rgba(18, 18, 18, 0.2);
  margin: 0 auto;
  padding: 20px;
}
/* form div:nth-of-type(1) {
  color: #363636;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 16px;
  overflow: hidden;
} */
.modell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form div:nth-of-type(2) {
  margin-top: 20px;
  display: flex;
}
form input[type="text"] {
  color: #7e7e7e;
  background-color: #fafafa;
  font-size: 16px;
  width: 78.57142857142857%;
  border: 1px #e2e2e2 solid;
  padding: 0 1.785714285714286%;
  outline: none;
  box-sizing: border-box;
}
form #format {
  width: 8.928571428571429%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0 0 0 3.571428571428571%;
  padding: 0;
}
form button {
  color: #ffffff;
  background-color: #121212;
  font-size: 14px;
  border: none;
  margin-right: 5px;
  padding: 0 10px;
  appearance: none;
  cursor: pointer;
}
form button,
form input {
  font-family: Arial, sans-serif;
  height: 48px;
  border-radius: 6px;
}
/* form button[type="submit"] {
  font-weight: normal;
  width: 12.5%;
  border-left: 1px #ffffff solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0;
  box-sizing: border-box;
} */
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 650px;
  margin: auto;
  text-align: center;
  margin: 40px auto;
}
.content p,
.text p {
  color: #494949;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  margin: 14px 0 0 0;
}
.content a {
  text-decoration: none;
  font-weight: 500;
  color: #e93636;
}

.content h6,
.text h6 {
  color: #363636;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 20px;
}

.content h4,
.text h4 {
  color: #363636;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.text h4 {
  text-align: left !important;
}
#footer {
  text-align: center;
  max-width: 600px;
  border-top: 1px #d1d7e3 solid;
  margin: 0 auto;
  padding: 20px 0;
}
#footer a {
  color: #1e2a54;
  text-decoration: none;
  margin: 0 10px;
}

.text {
  background-color: #ffffff;
  max-width: 650px;
  border-radius: 12px;
  box-shadow: 0 6px 6px rgba(18, 18, 18, 0.2);
  margin: 0 auto 40px auto;
  padding: 20px;
}

@media (max-width: 767px) {
  .content {
    max-width: 92%;
  }
  form #format {
    width: 12.928571428571429%;
  }
  /* form button[type="submit"] {
    width: 18.5%;
    margin-right: 0;
  } */
  input::placeholder {
    font-size: 0.82rem;
  }
  .content h6,
  .text h6 {
    font-size: 20px;


  }
}
